.app {
    max-width: 40rem;
    margin: 0 auto;
}

.app > h1 {
    padding-left: 2rem;
    color: royalblue;
}

.card {
    background-color: beige;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.card > div {
    font-size: 0.75rem;
}

.buttons {
    text-align: right;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: royalblue;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
}

.form {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: aliceblue;
}

.form__control {
    margin-bottom: 1rem;
}

.form__control label {
    display: block;
    margin-bottom: 4px;
}

.form__control input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border-color: skyblue;
    border-style: solid;
}
