.app {
    max-width: 40rem;
    margin: 0 auto;
}

.app > h1 {
    padding-left: 1rem;
    color: royalblue;
}

.card {
    background-color: bisque;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.card > div {
    font-size: 0.75rem;
}
